# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# ==============================
# C / C++ build artifacts
# ==============================

cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe

# ==============================
# Project-specific build dirs
# ==============================

**/build/
**/build-*/

# ==============================
# Midnight runtime / user data
# ==============================

.midps

# Midnight config / local state
.midconf
.midhsty
.midnight_history

# Logs
*.log

# ==============================
# IDE / editor
# ==============================

.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS junk
# ==============================

.DS_Store
Thumbs.db

src/cmd/rootfs/hwinfo/collection/ram/build/
src/cmd/rootfs/hwinfo/collection/ram/build-win/
src/midnight_terminal.egg-info/
**/__pycache__/

NOTE.md